nav {
    display: flex;
    position: fixed;
    background-color: rgba(26, 173, 199, 0.3);
    padding: 0.7rem 1.7rem;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    display:none
  }
  /* .l {
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.75em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
    color: #fdea7b;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    width: 3em;
    height: 1.5em;
    margin-left: -1.5em;
    margin-top: 20px;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  } */
  nav a {
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    color:white;
    font-size: 1.1rem;
  }
  nav a:hover{
    background-color: rgba(107, 107, 107, 0.3);
    
  }
  nav a.active{
    background-color: rgba(107, 107, 107, 0.3);
    
  }
  @media all and (min-width: 768px) and (max-width: 1115px) {
    nav {
      display: flex;
      position: fixed;
      background-color: rgba(97, 201, 230, 0.3);
      padding: 0.7rem 1.7rem;
      z-index: 2;
      left: 50%;
      transform: translateX(-50%);
      bottom: 2rem;
      gap: 0.8rem;
      border-radius: 3rem;
      backdrop-filter: blur(5px);
     
    }
    
    nav a {
      background: transparent;
      padding: 1rem;
      border-radius: 50%;
      display: flex;
      color:white;
      font-size: 1.1rem;
    }
    nav a:hover{
     background-color: rgba(29, 184, 208, 0.3);
      
    }
    #logo{
        margin-left:150px;
    }
    nav a.active{
     background-color: rgba(27, 175, 216, 0.792);
      
    }
  }
  @media all and (min-width: 320px) and (max-width: 767px){
    nav {
      display: flex;
      position: fixed;
      background-color: rgba(48, 178, 195, 0.3);
      padding: 0.7rem 1.7rem;
      z-index: 20;
      left: 50%;
      transform: translateX(-50%);
      bottom: 2rem;
      text-align: center;
      gap: 0px;
      border-radius: 3rem;
      backdrop-filter: blur(15px);
    }
    #logo{
        margin-left: 200px;
    }
    nav a {
      background: transparent;
      padding: 1rem;
      border-radius: 50%;
      display: flex;
      font-size: 1.1rem;
    }
    nav a:hover{
     background-color: rgba(54, 181, 203, 0.3);
      
    }
    nav a.active{
     background-color: rgba(51, 175, 209, 0.3);
    
    }
  }